
@model Onboarding_Project4_React.Models.Store
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
</head>

<div id="root"> </div>

@section scripts{

    <script src="~/scripts/React/y/dist/semantic.js"></script>
    <script src="~/Scripts/React/dist/stores.bundle.js"></script>}