@model Onboarding_Project4_React.Models.Customer
@{
    ViewBag.Title = "Index";
}
<head>
    @* <link href="@Url.Content("~/Scripts/React/y/dist/semantic.css")" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
</head>

<div id="root"> </div>

@section scripts{

    <script src="~/scripts/React/y/dist/semantic.js"></script>
    <script src="~/Scripts/React/dist/customers.bundle.js"></script>}

